# Bỏ qua môi trường ảo
.venv/
venv/
env/

# Bỏ qua file cấu hình nhạy cảm (CHỨA API KEY)
.env

# Bỏ qua Database & Dữ liệu
store.db
data/vector_db/
*.sqlite3

# Bỏ qua file rác của Python (tự sinh ra khi chạy)
__pycache__/
*.pyc
.ipynb_checkpoints/
.idea/
.vscode/

# Bỏ qua logs
*.log